/* add your CSS here */
.interest-facts,
li
{
    font-style: normal;;
}

li>span
{
    font-weight: bold;
    font-style: normal;
}



.no-dot-list
{
    list-style-type: none;
    list-style-position: outside;
    padding-left: 0px;
}

.main-container
{
    border: 1px  #909090;
    border-radius: 10px;
    width: 340px;
    box-shadow: 0 0 1em #909090;
    margin: 5px auto;
    padding-bottom: 5px;
}



.sub-container
{
    width: 300px;
    padding: 0 20px;
}

.animal-info
{
    border: 1px solid #909090;
    margin: 10px auto;
    width: 260px;
    padding: 0 20px;
}
