<div class="footer">
    <span class="block">
        <img class="flex-left" src="https://www.easycounter.com/counter.php?dreaming_hz" border="2" alt="HTML Hit Counter"> visited,
        &copy;
        {{ site.time | date: '%Y' }}
        {{ site.author_name }} | 
        <a href="https://github.com/pmixer"><img class="site-footer-img" src="https://img.icons8.com/small/24/000000/github.png"></a>
        <a href="https://linkedin.com/in/pmixer"><img class="site-footer-img" src="https://img.icons8.com/small/24/000000/linkedin.png"/></a>
        <a href="https://pmixer.github.io/feed.xml"><img class="site-footer-img" src="https://img.icons8.com/small/24/000000/rss.png"/></a>
        <a href="https://scholar.google.com/citations?user=RwZOPyAAAAAJ&hl=en"><img class="site-footer-img" src="https://img.icons8.com/small/24/000000/google-logo.png"/></a>
    </span>
</div>
